@model Creation

<a class="card" asp-controller="Creations" asp-action="Details" asp-route-slug="@Model.Slug">
    <img class="creation-card-img" src="@Model.GetPrimaryImage().Source" asp-append-version="true" />
    <div class="card-body">
        <ul class="inline-list">
            <li class="text">@Model.ReleaseDate.Year</li>
            <li><span class="muted-text">@Model.Customer.Name</span></li>
        </ul>
        <h3>@Model.Title</h3>
    </div>
    <div class="card-overlay"></div>
</a>
