@model Creation

<a class="creation-card card" asp-controller="Creations" asp-action="Details" asp-route-slug="@Model.Slug">
    <partial name="_Image" model="@Model.GetPrimaryImage()" />    
    <div class="card-body">
        <ul class="inline-list">
            <li class="text">@Model.ReleaseDate.Year</li>
            <li><span class="text-muted">@Model.Customer.Name</span></li>
        </ul>
        <h2>@Model.Title</h2>
    </div>
    <div class="card-overlay"></div>
</a>
