@model Creation
@{
    ViewData[ViewDataKeys.Title] = Model.Title;
}

<article>
    <partial name="_Carousel" model="@Model.GetImages()" />
    <header>        
        <ul class="inline-list">
            <li>@Model.ReleaseDate.Year</li>
            <li><a href="@Model.Customer.Website" target="_blank">@Model.Customer.Name</a></li>
        </ul>        
        <h1>@ViewData[ViewDataKeys.Title]</h1>
        <p>@Model.Mission</p>
    </header>
    <div class="row">
        <section class="col">
            <h2>@Html.DisplayNameFor(c => c.Strategy)</h2>
            <p>@Model.Strategy</p>
        </section>
        <section class="col">
            <h2>@Html.DisplayNameFor(c => c.Execution)</h2>
            <p>@Model.Execution</p>
        </section>
    </div>
    <vc:contemporary-creation-section reference="@Model" count="4"></vc:contemporary-creation-section>
</article>
