@model Headline
@{
    var image = @Model.GetPrimaryImage();
}

<a class="card" asp-controller="Headlines" asp-action="Details" asp-route-slug="@Model.Slug">
    @if (image != null)
    {
        <img class="headline-card-img" src="@image.Source" asp-append-version="true" />
    }    
    <div class="card-body">
        <div class="tag">@Model.Tag.Name</div>
        <h3 class="line-clamp-3">@Model.Title</h3>
        <p class="line-clamp-8">@Model.Lead</p>
        <ul class="inline-list">
            <li>@Html.DisplayFor(h => h.ReleaseDate)</li>
            <li class="muted-text">@Model.Author.FullName</li>
        </ul>
    </div>
    <div class="card-overlay"></div>
</a>
