@page
@{
    ViewData["Title"] = "Inline Svg Yo";
}

@section Styles {
    <style>
        .card {
            width: 285px;
            height: 153px;
        }

        .card-body {
            padding: 26px 48px;
            height: 100%;
        }

        .card-body > svg {
            height: 100%;
            width: 100%;
        }

        .card-overlay {
            height: 100%;
            background-color: #000;
        }

        svg.inverted * {
            fill: #fff;
        }
    </style>
}

<article>
    <header>
        <h1>@Html.Raw(@ViewData["Title"])</h1>
    </header>
    <div class="row">
        <div class="card">            
            <div class="card-body">
                <svg src="~/img/customers/ande-animi.svg" />
            </div>
        </div>

        @{ 
            string symbolId = ElementId.Next();
        }

        <div class="card">
            <svg-symbol id="@symbolId" src="~/img/customers/ande-animi.svg" />
            <div class="card-body">
                <svg-use symbol-id="@symbolId" />
            </div>
            <div class="card-overlay">
                <div class="card-body">
                    <svg-use symbol-id="@symbolId" class="inverted" />
                </div>
            </div>
        </div>
    </div>
</article>
