@page
@{
    Layout = null;
}

<head>
    <link href="https://use.typekit.net/lge2pgz.css" rel="stylesheet" />
</head>

<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    header {
        background-color: white;
        position: fixed;
        /*padding: 13px 19px;*/
        top: 60px;
        left: 0px;
        height: 60px;
        transition: all ease .3s;
        /*transition:  ease 3s;*/
    }

        header:hover {
            /*background-color: #818181;*/
            background-color: black;
            fill: white;
        }

        header svg {
            margin: 18px 27px;
            height: 24px;
            width: auto;
        }

    nav {
        width: 60px;
        height: 100vh;
        background-color: white;
        float: left;
    }

    .nav-item {
        /*display: none;*/
        position: absolute;
        left: 60px;
        top: 120px;
        background-color: black;
        color: white;
        /*width: 165px;*/
        height: 60px;
        font-family: futura-pt;
        /*font-size: 20px;*/
        /*font-weight: 500;*/
        padding: 20px 27px 20px 0;
        line-height: 20px;
    }

    nav ul {
        /*position: absolute;*/
        /*top: 75px;*/
        list-style: none;
        padding-left: 0;
        margin: 120px 0;
        width: 100%;
    }

        nav ul li {
            height: 60px;
            width: 100%;
            padding: 13px;
        }

    .container {
        display: flex;
        height: 100vh;
        justify-content: space-around;
        padding: 10vh;
        background-color: lightgray;
    }

    img {
        height: 100%;
        width: 100%;
    }

    .card {
        /*display: none;*/
        width: 380px;
        height: 202px;
        background-color: #0009;
        position: absolute;
        right: 0;
        /*top: 25px;*/
        top: 50%;
        margin-top: -101px;
        /*bottom: 25px;*/
        color: #fff;
        padding: 30px;
    }

        .card:hover {
            background-color: #000;
        }

        .card h1 {
            font-family: 'Futura PT';
            font-weight: 500;
            text-transform: uppercase;
            margin: 0;
        }

    footer {
        height: 60px;
    }
</style>

<body>
    <a href="~/img/logo.svg">
        <header>
            @Html.Svg("~/img/logo.svg")
        </header>
    </a>
    <nav>
        <ul>
            <li>@Html.Svg("~/img/geometry/01-triangles/01.svg")</li>
            <li>@Html.Svg("~/img/geometry/01-triangles/01.svg")</li>
            <li><img src="~/img/geometry/01-triangles/04.svg" /></li>
            <li>@Html.Svg("~/img/geometry/01-triangles/07.svg")</li>
            <li><img src="~/img/geometry/01-triangles/12.svg" /></li>
            <li><img src="~/img/geometry/01-triangles/13.svg" /></li>
            <li><img src="~/img/geometry/01-triangles/18.svg" /></li>
            <li>@Html.Svg("~/img/brands/github.svg")</li>
        </ul>
        <div class="nav-item">PERMUTATION</div>
    </nav>
    <div class="container">
        <img src="~/img/creations/03.svg" />
        <div class="card">
            <h1>Spontane Radioaktivität</h1>
            <p>Ganja manja<br /><span style="color: #9b9b9b">Bodo Godo GmbH</span></p>
        </div>
    </div>
    @*<vc:creation-showcase></vc:creation-showcase>
    <vc:headline-showcase></vc:headline-showcase>*@
    <footer></footer>
</body>
