@page
@{
    ViewData[ViewDataKeys.Title] = Localizer[SharedResources.Privacy];
}

<article>
    <header>
        <h1>@ViewData[ViewDataKeys.Title]</h1>
        <p>@LoremIpsum.NextSentence()</p>
    </header>
    <section>
        <h2>@LoremIpsum.NextHeading(2, 4)</h2>
        <p>@LoremIpsum.NextParagraph(2, 4)</p>
    </section>
    <section>
        <h2>@LoremIpsum.NextHeading(2, 4)</h2>
        <p>@LoremIpsum.NextParagraph(2, 4)</p>
        <p>@LoremIpsum.NextSentence(5, 9, ':')</p>
        <ul>
            <li>@LoremIpsum.NextWordGroup(3, 7);</li>
            <li>@LoremIpsum.NextWordGroup(2, 7);</li>
            <li>@LoremIpsum.NextWordGroup(3, 7);</li>
            <li>@LoremIpsum.NextWordGroup(2, 7).</li>
        </ul>
        <p>@LoremIpsum.NextParagraph(2, 3)</p>
    </section>
    <section>
        <h2>@LoremIpsum.NextHeading(2, 4)</h2>
        <p>@LoremIpsum.NextParagraph(2, 4)</p>
        <p>@LoremIpsum.NextParagraph(2, 4)</p>
    </section>
</article>
